[submodule "benchmarks/GPU/NVidia/cuda_examples"]
	path = benchmarks/GPU/NVidia/cuda_examples
	url = https://github.com/drkennetz/cuda_examples
[submodule "benchmarks/GPU/NVidia/nvbandwidth"]
	path = benchmarks/GPU/NVidia/nvbandwidth
	url = https://github.com/NVIDIA/nvbandwidth
